body{
    background-color: black;
   
}
h1{
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 70px;
    /*from css-tricks.com*/
    background: -webkit-linear-gradient(rgba(116,236,222,1), rgba(235,168,230,1)); 
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

}